.outerWrapper {
  width: 100%;
  background-color: rgb(242, 242, 242);
  min-height: 500px;
    text-align: center;
}

.innerWrapper {
  width: 1160px;
  padding: 40px 100px;
  margin: auto;
}

.title {
  margin-bottom: 0.5em;
  margin-top: 40px;
  align-items: center;
  width: 100%;
}

.cardWrapper{
    display: flex;
    flex-wrap: wrap;
}
